---

- import_tasks: install-ubuntu-20.04.yml
  become: yes
  become_user: root
  when: ansible_distribution == 'Ubuntu' and ansible_distribution_version == '20.04'

- import_tasks: install-ubuntu-22.04.yml
  become: yes
  become_user: root
  when: ansible_distribution == 'Ubuntu' and ansible_distribution_version == '22.04'

- import_tasks: install-raspbian.yml
  become: yes
  become_user: root
  when: ansible_distribution == 'Debian' and ansible_lsb.id == 'Raspbian'

- import_tasks: "configure.yml"
  become: yes
  become_user: root
